<html>

<head>
  <title>Словаро</title>
</head>

<body>
<header id='header'>
  <h1>Slovaro</h1>
  <!--
  <br />
  <button id="sync-xml" onClick="syncXml()">Sync XML</button><br /> -->
</header>


<main>
  <div class='sw-container' style='display:flex; '>

    <div id='s' class='column'>
      Error. Sources not loaded

    </div>
    <div id='w' class='column'>
      ---<br>
      Select a source
    </div>
  </div>
  <div style='display:flex; '>
    <div class='column-width footer'>

      <input id='inp-s'><br/>
      <button id='add-s' onClick='addSource()'>Add source</button>
      <br/>

    </div>

    <div class='column-width footer'>

      <input id='inp-w'><br/>
      <button id="add-w" onClick='addWord()'>Add word</button>
      <br/>

    </div>
  </div>
</main>


<div id='modal-root'>
  <div id='edit-modal' class='hidden'>
    <input id='modal-inp'>
    <br/>
    <div class='center-innards'>
      <button id='edit-btn'>Edit</button>
      <button id='nothing-btn'>Do nothing</button>
      <button id='delete-btn'>Delete</button>
    </div>

  </div>
</div>
<div id="response-container"></div>
<div id="pywebview-status"></div>
<div id='instructions'>
  <h2>Instructions:</h2>
  <ul>
    <li> Left click on source = show words for that source</li>
    <li> Right click on source or word = show modal for editing/deleting</li>
    <li> Shift + up/down -- move word up/down by 1</li>
  </ul>
</div>

</body>

</html>
