<div class="main-container">
  <header class="header">
    <h1>Slovaro</h1>
    <!--
    <br />
    <button id="sync-xml" onClick="syncXml()">Sync XML</button><br /> -->
  </header>


  <main class="main">
    <div class='sw-container'>

      <section class='column column-sources'>
        <div *ngFor="let source of sources">
          <span *ngIf="sources.length == 0">Error. Sources are not loaded</span>
          <p class="source" [attr.data-sourceid]="source.getId()" (click)="setActiveSource(source.getId())" (contextmenu)="showModal('source', $event)">{{source.getName()}}</p>
        </div>
      </section>

      <section class='column column-words'>
        <div *ngFor="let word of words">
          <div *ngIf="words.length === 0 || words == undefined">
            ---<br>
            Выберите источник
          </div>
          <p class="word" [attr.data-wordid]="word.id" (contextmenu)="showModal('word', $event)">{{word.content}}</p>
        </div>
      </section>
    </div>
    <div style='display:flex; '>
      <div class='column-width footer'>

        <input class='input-source'><br/>
        <button class='add-source' (click)='addSource()'>Add source</button>
        <br/>

      </div>

      <div class='column-width footer'>

        <input class='input-word'><br/>
        <button class="add-word" (click)='addWord()'>Add word</button>
        <br/>

      </div>
    </div>
  </main>


  <footer id='instructions'>
    <h2>Instructions:</h2>
    <ul>
      <li> Left click on source = show words for that source</li>
      <li> Right click on source or word = show modal for editing/deleting</li>
      <li> Shift + up/down -- move word up/down by 1</li>
    </ul>
  </footer>

</div>
<div class='modal-root'>
  <div id='edit-modal' class='hidden'>
    <input class='edit-modal__input'>
    <br/>
    <div class='center-innards'>
      <button class='edit-modal__edit-button' (click)="editEntry()">Edit</button>
      <button class='edit-modal__nothing-button' (click)="closeModal()">Do nothing</button>
      <button class='edit-modal__delete-button' (click)="deleteEntry()">Delete</button>
    </div>

  </div>
</div>
